<div class = 'parent' >
  <h1> Enter the Recipe Information</h1>
  <%= form_for @recipe do |f| -%>
    <div class = 'child'>
      <label> Name </label>
    </div>
    <% if(!params[:recipe_id].blank?)%>
      <div class = 'child'>
        <%= f.text_field :name, value: @recipes.find(params[:recipe_id]).name%><br/>
      </div>
      <br/>
      <div class = 'child'>
        <label> Instructions </label>
      </div>
      <div class = 'child'>
        <%= f.text_area :instructions,  :cols => 80, :rows => 20 , value: @recipes.find(params[:recipe_id]).instructions%><br/>
        <%= f.hidden_field :recipe_id, value: params[:recipe_id] %>
      </div>
    <%else%>
      <div class = 'child'>
        <%= f.text_field :name%><br/>
      </div>
      <br/>
      <div class = 'child'>
        <label> Instructions </label>
      </div>
      <div class = 'child'>
        <%= f.text_area :instructions,  :cols => 80, :rows => 20%><br/>
      </div>
    <%end%>
    <%= f.submit "Submit" %><br/>
  <% end -%>
  <%= link_to "Ingredients", {:controller => 'ingredients/new/', :recipe_id => params[:recipe_id]}%> <br/>
  <%= link_to "Home", {:controller => 'home', :action => 'menu'}%> <br/>
  <% if params[:recipe_id] != nil %>
    <% @recipe = @recipes.find(params[:recipe_id]) %>
    <%= link_to "Destroy", recipe_path(@recipe), data: {
                      :recipe => @recipes.find(params[:recipe_id]),
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
  <% end %>
</div>



