<div class = 'parent' >
  <h1> Enter Ingredients</h1>
  <%= form_for @ingredient do |f|%>
    <div class = 'child'>
      <label> Ingredient Name </label>
    </div>
    <div class = 'child'>
      <%= f.text_field :item %> <br/>
    </div>
    <div class = 'child'>
      <label> Amount </label>
    </div>
    <div class = 'child'>
      <%= f.text_field :amount %>  <br/>
    </div>
    <div class = 'child'>
      <label> Unit </label>
    </div>
    <div class = 'child'>
      <%= f.text_field :unit %>  <br/>
    </div>
    <%= f.hidden_field :recipe_id, value: params[:recipe_id] %>
    <%= f.submit "Submit" %> <br/>
    <br/>
    <strong> Ingredients </strong> <br/>
    <% my_ingredients = @ingredients.where(recipe_id: params[:recipe_id]).all %>
    <% if !my_ingredients.blank? %>
      <% for item in my_ingredients %>
        <%= item.amount %> <%= item.unit %> <%= item.item %>
        <div class = "child">
          <%= link_to "delete", ingredient_path(item), data: {
                        :ingredient => item,
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      } %>
        </div>
        <br/>
      <% end %>
    <% else %>
    <%= "There are no ingredients in this recipe."%>
    <% end %>
  <% end %>
  </br>
  <%= link_to "Recipe", {:controller => 'recipes/new/', :recipe_id => params[:recipe_id]}%> <br/>
  <%= link_to "Home", {:controller => 'home', :action => 'menu'}%> <br/>
</div>