<h1> Enter the Student Information</h1>
<%= form_for @student do |f| -%>
  <label> Firstname </label><br/>
  <%= f.text_field :firstname %><br/>
  <label> Lastname </label><br/>
  <%= f.text_field :lastname %><br/>
  <%= f.submit "Submit" %><br/>
<% end -%>

<br/>

<h1> Display All Student Information</h1>
<% if !@students.blank? %>
  <% for item in @students %>
    <%= item.firstname %> <%= item.lastname %> <br/>
  <% end %>
<% else %>

<%end%>